<launch>

    <arg name="project" default="radar_sam"/>
    
    <!-- Parameters -->
    <rosparam file="$(find radar_sam)/config/params.yaml" command="load" />

    <!--- LOAM -->
    <include file="$(find radar_sam)/launch/include/module_loam.launch" />

    <!--- Run Navsat -->
    <include file="$(find radar_sam)/launch/include/module_navsat.launch" />

    <!--- Run Rviz-->
    <include file="$(find radar_sam)/launch/include/module_rviz.launch" />
    <!--- Rosbag Play-->
    <node pkg="rosbag" type="play" name="playe" output="screen" args="--clock /home/gpal/database/Radar_SAM/gps_imu_radarpoints.bag"/>

</launch>
