<launch>

    <arg name="project" default="radar_sam"/>
    
    <!-- Parameters -->
    <rosparam file="$(find radar_sam)/config/params_gps.yaml" command="load" />

    <!--- LOAM -->
    <include file="$(find radar_sam)/launch/include/module_loam.launch" />

    <!--- Robot State TF -->
    <include file="$(find radar_sam)/launch/include/module_robot_state_publisher_gps.launch" />

    <!--- Run Navsat -->
    <include file="$(find radar_sam)/launch/include/module_navsat_gps.launch" />

    <!--- Run Rviz-->
    <include file="$(find radar_sam)/launch/include/module_rviz_gps.launch" />

</launch>
